:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem; }

html, body {
  height: 100%; }

main, #start, .container, .row {
  height: inherit; }

body {
  height: inherit;
  overflow-x: hidden;
  background: #0B0C08;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.text-light {
  color: white; }

a:hover {
  color: #dcca27 !important; }

.inline-anchor {
  color: #dcca27 !important; }

.dropdown-toggle::after {
  display: none; }

.btn-google {
  color: white;
  background-color: #ea4335; }

.btn-facebook {
  color: white;
  background-color: #3b5998; }

.btn-dark {
  background-color: #0B0C08; }

.action-btn {
  width: 100%;
  background-color: #0B0C08; }

button {
  border-radius: 0px !important; }

.dropdown-menu {
  text-align: center;
  padding: 20px; }

.dropdown-menu p {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important; }

.disabled {
  display: none; }

.logged-in {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

.logged-in img {
  height: 48px;
  width: 48px;
  border-radius: 30px; }

.logout {
  display: none; }

#loader {
  display: none; }

#userInput {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none; }

.card-signin {
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); }

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem; }

.card-signin .card-body {
  padding: 2rem; }

.form-signin {
  width: 100%; }

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.form-label-group {
  position: relative;
  margin-bottom: 1rem; }

.form-label-group input {
  height: auto;
  border-radius: 2rem; }

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x); }

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.form-label-group input::-webkit-input-placeholder {
  color: transparent; }

.form-label-group input:-ms-input-placeholder {
  color: transparent; }

.form-label-group input::-ms-input-placeholder {
  color: transparent; }

.form-label-group input::-moz-placeholder {
  color: transparent; }

.form-label-group input::placeholder {
  color: transparent; }

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3); }

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777; }

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none; }
  .form-label-group input::-ms-input-placeholder {
    color: #777; } }

/* Fallback for IE
  -------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none; }
  .form-label-group input:-ms-input-placeholder {
    color: #777; } }
